body{
    background-color: #8ca5ad;
    color: #252d42;
    font-family: Arial, sans-serif;
    font-size:50px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-attachment: fixed;
}

header{
    background-color: #252d42;
    color: #fff5d6;
    text-align: center;
    margin: 0 0 2rem;
    padding: 1rem;
    font-size: 3.5rem;
    width: 100%;
    left: 0;
    top: 0;
    font-weight: bold;
}

.titulo{
    color: #fff5d6;
    font-size: 36px;
    padding-left: 20%;
    margin-top: 5%;
}

.imagem{
    display: flex;
    flex-direction: column;
}

img{
    width:400px ;
    margin-left: 10%;
    border-radius: 20px;
    background-color: rgb(106, 112, 16);
    background-image: url('Corpo.jpg');
    image-rendering: pixelated;
    padding: 15px;
}

.resp{
    background-color: rgb(106, 112, 16);
    color: #fff5d6;
    font-size: 22px;
    padding: 30px;
    border-radius: 20px;
    width: 70%;
    padding-left: 5%;
    margin-left: 15%;
    margin-top: 4%;
}

.container{
    display: flex;
    flex-direction: row;
}

.resp2{
    background-color: rgb(106, 112, 16);
    color: #fff5d6;
    font-size: 22px;
    padding: 30px;
    border-radius: 20px;
    width: 70%;
    padding-left: 5%;
    margin-left: 15%;
    margin-top: 7%;
    
}

.prox{
    background-color: rgb(106, 112, 16);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 70px;
}

.prox a{
    text-decoration: none;
    color: #fff5d6;
    padding: 20px;
}
.prox:hover{
    background-color: rgb(153, 161, 37);
    color: #fff5d6;
}

.prox2{
    background-color: rgb(106, 112, 16);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

.prox2 a{
    text-decoration: none;
    color: #fff5d6;
    padding: 20px;
}
.prox2:hover{
    background-color: rgb(153, 161, 37);
    color: #fff5d6;
}

.prox3{
    background-color: rgb(106, 112, 16);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 90px;
}

.prox3 a{
    text-decoration: none;
    color: #fff5d6;
    padding: 20px;
}
.prox3:hover{
    background-color: rgb(153, 161, 37);
    color: #fff5d6;
}
